:root{
    --primary-background-color: #021526;
    --secundary-color: #03346E;
    --third-color: #6EACDA;
    --forth-color: #E2E2B6;
}

*{
    margin: 0px;
    font-family: "Merriweather Sans";
}
body{
    background-color: var(--primary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}
a{
    text-decoration: none;
}
/* titulos secciones */

.contTitle{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

/* principal */
#containerPrincipal{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: auto;
}
.imagenPersonal{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: var(--secundary-color);
}
.containerAllInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nombreTitulo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nombreTitulo i{
font-size: x-large;
}
.presentacion h1{
    font-size: 35px;
}
.presentacion h2{
    font-size: large;
    font-weight: 500;
}


/* containerAllInfo */
#containerAllInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 790px;
}

/* social */
#containerSocial, #aboutMe, #experience, #tecnologias, #containerAllProjects, #estudios{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    color: white;
    width: auto;
}
.linksPersonal{
    display: flex;
    gap: 20px;
}
.linksPersonal a{
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--secundary-color);
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 10px 20px;
    width: auto;
}
.linksPersonal i{
    font-size: x-large;
}

/* about me */
.infoContacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.infoContacto p{
    width: 110px;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 500;
    background-color: var(--secundary-color);
    text-align: center;
    color: white;
    border: 1px solid darkgray;
}

/* tecnologias */
#containerTecnologias{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    align-items: center;
    padding: 50px;
}
.contLenguajes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.containerTecnologia{
    display: flex;
    gap: 20px;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    background-color: var(--secundary-color);
    border: 1px solid darkgray;
    font-size: 15px;
    align-items: center;
}

/* projects */
.containerProjects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    align-items: center;
    padding: 20px;
    max-width: 700px;

    background-color: var(--secundary-color);
    border-radius: 15px;
    border: solid 2px var(--third-color);
}
.containerProject{
    display:flex;
    flex-wrap: wrap;
    width: auto;
}
.infoProyecto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}
.infoProyecto h3{
    font-weight: 400;
}
.infoProyecto p{
    font-weight: 100;
    color: gainsboro;
}

.tecnologiasAplicadas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.contTecnologia{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    width: auto;
    padding: 5px;
    font-size: 10px;
    background-color: var(--primary-background-color);
    border: solid 1px var(--forth-color);
    align-items: center;
}

.infoProyecto a{
    width: 50px;
    height: 30px;
    font-size: 30px;
    color: white;
}

.capturaImagenProject{
    width: auto;
    height: 200px;
}

/* estudios */
.containerEstudios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.containerEstudio{
    display: flex;
    justify-content: space-between;
}
.containerInfoStudyes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 700px;
}
.conteinerInfoStudy{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.titulacion{
    font-weight: 800;
    font-size: 18px;
}
.escuela{
    font-weight: 500;
    font-size: 16px;
}
.aptitudesAprendidas{
    font-weight: 100;
    font-size: 14px;
    color: gainsboro;
}

.containerTiempoVerify{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tiempoEstudio{
    background-color: var(--secundary-color);
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 15px;
}
.containerTiempoVerify i{
    font-size: 30px;
}


/* footer */
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 20px;
}