:root{
    --palete1: #021526;
    --palete2: #03346E;
    --palete3: #6EACDA;
    --palete4: #E2E2B6;
}

*{
    margin: 0px;
    font-family: "Merriweather Sans";
}
body{
    background-color: var(--palete1);
    display: flex;
    flex-direction: column;
    align-items: center;

}
a{
    text-decoration: none;
}
/* titulos secciones */

.contTitle{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

/* principal */
#containerPrincipal{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: auto;
}
.imagenPersonal{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.containerAllInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nombreTitulo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nombreTitulo i{
font-size: x-large;
}
.presentacion h1{
    font-size: 35px;
}
.presentacion h2{
    font-size: large;
    font-weight: 500;
}
/* social */

#containerSocial{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
    gap: 15px;
    width: 650px;
}
.linksPersonal{
    display: flex;
    gap: 20px;
}
.linksPersonal a{
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--palete2);
    border: 1px solid darkgray;
    border-radius: 15px;
    padding: 10px 20px;
    width: 110px;
}
.linksPersonal i{
    font-size: x-large;
}

/* about me */
#containerAboutMe{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    width: 650px;
    color: white;
}
.infoContacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.infoContacto p{
    width: 110px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--palete2);
    text-align: center;
    color: white;
    border: 1px solid darkgray;
}
.aboutMePresentation{

}

/* tecnologias */
#containerTecnologias{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    align-items: center;
    padding: 50px;
}
.contLenguajes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.contLenguaje{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.containerTecnologia{
    display: flex;
    gap: 20px;
    border-radius: 10px;
    padding: 5px;
    width: 120px;
    background-color: var(--palete2);
    border: 1px solid darkgray;
}